<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noodp" />
	<meta name="robots" content="noydir" />
	<meta name="Description" content="submit your resume to apply for jobs online." />
	<meta name="Keywords" content="local jobs, local job search, local job listings, find local jobs, career" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript"/>
	
	<meta property="fb:page_id" content="page_id will go here" />
			
	<link media="all" rel="stylesheet" type="text/css" href="/static/css/app.css" />
	<!--[if gte IE 9]>
    <style type="text/css">
    .gradient {
       filter: none;
       }
    </style>
    <![endif]-->	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
   
	
    <title>Resume Retard - an Erlang Job Bank</title>

  </head>
  
  <body ng-app="resumeretard" ng-strict-di>
	
	  <div id="site-header" ng-controller="resumeretardHeaderController">
		  <div id="sitelogo">
		  	<a href="/">
			<img src="/static/sitelogo.png">
			</a>
			</div>
			<div id="header-account">
				{% if user %}
				<p> Welcome {{ user.username }} </p>
				{% endif %}
				
				{% if not user %}
				<a href="/login">
				<button id="login-button" class="hdrbtn" value="login" type="button"> Login </button>
				</a>
				<a href="/sign-up">
				<button id="register-button" class="hdrbtn" value="register" type="button"> Sign-Up </button>
				</a>
				{% endif %}
			</div>
			
			<div class="header-links">
			<ul>
				<li class="header-link selected"><a href="/search/jobs">Search / $</a></li>
				<li class="header-link"><a href="/recruit/">Post em Job</a></li>
				<li class="header-link"><a href="/search/resumes">Find der Werker</a></li>
			</ul>
	 </div>
	 
	 <div id ="content-wrapper">
	<div id="lgutter"></div> 
    {% block content %}{% endblock %}
    <div id="rgutter"></div>
    </div>

  <footer>
	  <div class="site-links">
			<ul>
				<li><a href="/sitemap">site map</a></li>
				<li><a href="/information/privacy">privacy</a></li>
				<li><a href="/information/terms">terms</a></li>
				<li><a href="/information/help">help</a></li>
			</ul>
	</div>
	
	<p class="copyright">
	Copyright &copy;2014 Jason Clark. All rights reserved.
	<a href="https://github.com/mithereal/resumeretard">
	<img width="24" height="15" valign="bottom" src="/static/sitelogo.png">
	</a>
	</p>

  </footer>
   <script src="/static/js/app.js"></script>
   <script src="/static/js/controllers.js"></script>
   <script src="/static/js/directives.js"></script>
    
  </body>
</html>
